---

---

<section id="contact">
  <h2>Try LocalLift Today</h2>
  <p class="contact-info">
    Contact Us:<br />
    Email: locallift2026@gmail.com<br />
    <!-- Phone: (206) xxx-xxxx<br /> -->
    Address: Auburn<br />
  </p>

  <a href="/solutions#consultation">
    <button>Free Consultation</button>
  </a>
</section>

<style>
  section {
    background-color: #1e1e1e;
    padding: min(80px, 10vw);
    color: white;
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    & button {
      background-color: #1777eb;
      color: white;
    }
    & h2 {
      font-size: var(--step-4);
      text-align: center;
      max-width: 400px;
      margin: 0;
    }
    & p {
      text-align: center;
    }
  }
</style>
