---
import CtaSecurityDiagram from "@images/Home/Cta/cta-security-diagram.avif";
import Smudge from "@svg/icons/smudge.svg";

import { Image } from "astro:assets";
---

<section id="CTA">
  <div class="content">
    <div class="header-wrapper">
      <h2 class="cta-title">
        Ready <span>to Get<Smudge class="smudge smudge-cta" /></span> More Clients?
      </h2>
    </div>
    <p>Let’s build a website that works for your business.</p>
    <a href="/solutions#consultation">
      <button>Get Started</button>
    </a>
  </div>

  <Image
    class="cta-diagram"
    src={CtaSecurityDiagram}
    alt="Hero Image"
    format="avif"
  />
</section>

<style>
  section {
    padding: min(80px, 10vw);
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    & .cta-diagram {
      height: fit-content;
      max-width: 500px;
      width: 500px;
      min-width: min(500px, 45vw);
      position: relative;
      /* display: none; */
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 500px;
    min-width: min(500px, 45vw);
    gap: 40px;
    & > a > button {
      background-color: #1777eb;
      color: white;
    }
  }

  .header-wrapper {
    & h2 {
      font-size: var(--step-4);
      position: sticky;
      & span {
        position: relative;
        & svg {
          position: absolute;
          width: calc(var(--step-4) * 4);
          bottom: -15px;
          right: 0;
          left: 0;
          z-index: -1;
          transform: scale(1.1, 1.8);
          transform-origin: center;
        }
      }
    }
  }

  @media (max-width: 750px) {
    section {
      flex-direction: column-reverse;
      gap: 60px;
    }

    .content {
      width: 80vw;
    }

    section > .cta-diagram {
      min-width: 80vw;
      max-width: 80vw;
      width: 80vw;
    }
  }
</style>
