---
import Google from "@svg/logos/google.svg";
import Figma from "@svg/logos/figma.svg";
import Notion from "@svg/logos/notion.svg";
import Slack from "@svg/logos/slack.svg";

import Smudge from "@svg/icons/smudge.svg";

const trustedPlatforms = {
  Google,
  Figma,
  Notion,
  Slack,
};
---

<section id="platforms">
  <div class="header-wrapper">
    <h2>
      Powered by <span><Smudge />Trusted</span> Platforms
    </h2>
  </div>

  <div class="platforms-list">
    {
      Object.entries(trustedPlatforms).map(([key, Component]) => {
        const PlatformIcon = Component;

        return <PlatformIcon class="platform-icon" />;
      })
    }
  </div>
</section>
<style>
  section {
    padding: min(80px, 10vw);
    background-color: #1e1e1e;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    gap: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .header-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & > h2 {
      font-size: var(--step-4);
      position: relative;
      text-align: center;
      margin: 0;
      color: white;
      z-index: 0;
      & > span {
        position: relative;
        & > svg {
          position: absolute;
          transform: scale(1, 1.8);
          width: calc(var(--step-4) * 4.4);
          bottom: -20px;
          right: 0;
          left: -5px;
          z-index: -1;
          pointer-events: none;
        }
      }
    }
  }

  .platforms-list {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, 190px 190px);
    width: 100%;
    max-width: 1500px;
    gap: 30px;
    row-gap: 50px;
    & > svg {
      width: 100%;
      height: 100%;
      color: white;
      max-width: 190px;
      max-height: 130px;
    }
  }

  @media (max-width: 700px) {
    .platforms-list {
      grid-template-columns: repeat(auto-fit, 190px);
    }
  }
</style>
