---
import Smudge from "@svg/icons/smudge.svg";
import websiteDesign from "@images/Home/Services/website-design.avif";
import localSeoOptimization from "@images/Home/Services/local-seo-optimization.avif";
import bookingSystemSetup from "@images/Home/Services/booking-system-setup.avif";
import contentNdMediaCreation from "@images/Home/Services/content-and-media-creation.avif";

import { Image } from "astro:assets";

const services = [
  {
    title: "Website Design",
    description:
      "Custom-built websites designed to convert visitors into paying customers.",
    image: websiteDesign,
    alt: "coding-image",
  },
  {
    title: "Local SEO Optimization",
    description:
      "Get your business ranking higher on Google so customers can find you in your area.",
    image: localSeoOptimization,
    alt: "SEO-image",
  },
  {
    title: "Booking System Setup",
    description:
      "We integrate tools like booking platforms to make scheduling easy for your clients.",
    image: bookingSystemSetup,
    alt: "Booking-image",
  },
  {
    title: "Content & Media Creation",
    description:
      "Professional photos and videos to help your brand stand out online.",
    image: contentNdMediaCreation,
    alt: "Content-and-Creation-image",
  },
];
---

<section id="services">
  <div class="header-wrapper">
    <div>
      <Smudge class="smudge smudge-services" />
      <h2>What We Do</h2>
    </div>
    <p>
      Simple, effective digital solutions designed to help local businesses
      grow.
    </p>
  </div>
  <div class="grid">
    {
      services.map(({ image, title, description, alt }) => (
        <figure class="card">
          <Image
            loading="lazy"
            class="service-image"
            src={image}
            alt={alt}
            width={500}
            height={500}
            format="avif"
            sizes="(max-width: 768px) 90vw, 500px"
          />
          <figcaption>
            <h3>{title}</h3>
            <p>{description}</p>
          </figcaption>
        </figure>
      ))
    }
  </div>
</section>

<style>
  .header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: center;
    & div {
      position: relative;
      & svg {
        position: absolute;
        width: calc(var(--step-4) * 4.4);
        bottom: -5px;
        right: 0;
        left: 49%;
      }
      & h2 {
        text-align: center;
        font-size: var(--step-4);
        font-weight: 700;
        position: relative;
        margin: 0;
      }
    }
    & p {
      text-align: center;
    }
  }

  section {
    padding: min(80px, 10vw);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .grid {
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, min(500px, 90vw) min(500px, 90vw));
    gap: 24px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
    max-width: 500px;
    & img {
      width: min(500px, 90vw);
      height: min(500px, 90vw);
      overflow: hidden;
      object-fit: cover;
    }
    & figcaption {
      display: flex;
      flex-direction: column;
      flex: 1;
      & h3 {
        font-weight: 700;
        font-size: var(--step-3);
        text-align: center;
        line-height: 1.25;
      }
    }
  }

  @media (max-width: 1368px) {
    .grid {
      grid-template-columns: repeat(auto-fit, min(500px, 90vw));
    }
  }
</style>
