---
import Smudge from "@svg/icons/smudge.svg";
import imageSrc from "@images/Home/Specialize/what-we-help.avif";

import { Image } from "astro:assets";
---

<section id="specialize">
  <div class="content">
    <div>
      <Smudge class="smudge smudge-specialize" />
      <h2>What We Help</h2>
    </div>

    <p>
      We specialize in helping service-based businesses grow their online
      presence and attract more local customers.
    </p>

    <ul class="business-list">
      <li><span>Salon</span></li>
      <li><span>Tatto Studios</span></li>
      <li><span>Barbershops</span></li>
      <li><span>Gyms</span></li>
    </ul>
  </div>

  <Image class="image" src={imageSrc} alt="Cutting Hair Image" format="avif" />
</section>

<style>
  section {
    background-color: #1e1e1e;
    padding: min(80px, 10vw);
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
  }

  .content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 40px;
    & div {
      position: relative;
      & svg {
        position: absolute;
        width: calc(var(--step-4) * 4.4);
        bottom: -16px;
        right: 0;
        left: calc(var(--step-4) * 3.5);
        transform: scale(1.1, 1.7);
        transform-origin: center;
      }
      & h2 {
        font-size: var(--step-4);
        font-weight: 700;
        position: relative;
        margin: 0;
      }
    }
  }

  .business-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0px;
    & li > span {
      position: relative;
      left: -8px;
    }
  }

  .image {
    height: fit-content;
    width: 45%;
    position: relative;
    max-width: 800px;
    display: none;
  }

  @media (min-width: 1280px) {
    section {
      flex-direction: row;
    }
    .content {
      width: 45%;
    }
    .image {
      display: flex;
    }
  }
</style>
