---

---

<section id="CTA">
  <div class="header-wrapper">
    <h2>Ready to Transform Your Business?</h2>
    <p>
      Partner with us for expert guidance and strategies that drive growth and
      success.
    </p>
  </div>
  <div class="btn-wrapper">
    <a href="#contact" class="contact-us">
      <button>Contact Us</button>
    </a>
    <a href="/solutions#consultation" class="consultation">
      <button>Get Your Free Consultation</button>
    </a>
  </div>
</section>

<style>
  section {
    background-color: white;
    text-align: center;
    padding: min(80px, 10vw);
  }

  .header-wrapper {
    & > h2 {
      font-size: var(--step-3);
      margin: 0;
    }
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
    & > .contact-us > button {
      border: solid black 1px;
      background-color: white;
    }
    & > .consultation > button {
      background-color: black;
      color: white;
    }
  }
</style>
