---
import Smudge from "@svg/icons/smudge.svg";
---

<section>
    <div class="header-wrapper">
        <div class="title-wrapper">
            <h2>Frequently Asked Questions</h2>
            <Smudge />
        </div>
        <p>Answers to Common Inquiries About Our Services</p>
    </div>
    <div class="questions"></div>
</section>

<style>
    section {
        background-color: #01141d;
        color: white;
        padding: min(80px, 10vw);
    }
</style>
