---
import HeroIconBg from "@svg/heroIconBg.svg";
import HeroImage from "@images/Solutions/Hero/hero-image.avif";

import { Image } from "astro:assets";
---

<section class="hero-section" id="hero">
  <HeroIconBg class="hero-bg" />
  <div class="hero-content">
    <h1>Let’s put Your Business on the Map</h1>
    <p>
      Book your free 20-minute consultation and find out exactly what it would
      take to grow your local business online — no pressure, no commitment
    </p>
    <a href="#consultation">
      <button>Book a Free Call</button>
    </a>
  </div>

  <Image
    class="hero-icon"
    src={HeroImage}
    alt="Hero Image"
    format="avif"
    quality={70}
  />
</section>

<style>
  .hero-section {
    background-color: #1e1e1e;
    padding: min(80px, 10vw) 0 min(80px, 10vw) 0;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hero-icon {
    height: fit-content;
    width: 45%;
    position: relative;
    max-width: 800px;
    display: none;
  }

  .hero-content {
    display: flex;
    padding: 40px;
    flex-direction: column;
    max-width: 600px;
    gap: 40px;
    z-index: 2;
    & h1,
    p {
      color: white;
    }
    & h1 {
      font-weight: 700;
      font-size: var(--step-5);
      font-weight: 700;
    }
    & > a > button {
      background-color: #1777eb;
      color: white;
    }
  }

  @media (min-width: 1280px) {
    .hero-section {
      flex-direction: row;
    }

    .hero-content {
      width: 45%;
      padding: 0px;
    }

    .hero-icon {
      display: block;
    }
  }
</style>
