---
import Navbar from "../components/Navbar/index.astro";
import Footer from "../components/Footer/index.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/svg/logos/localLift.svg" />
    <meta name="viewport" content="width=device-width" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>Local Lift</title>
    <meta
      name="description"
      content="LocalLift helps local businesses build fast, optimized websites that improve performance, accessibility, best practices, and SEO to rank better and grow online."
    />
    <style is:global>
      :root {
        --step--2: clamp(0.9882rem, 0.9531rem + 0.1651vw, 1.1285rem);
        --step--1: clamp(1.0544rem, 0.9794rem + 0.3527vw, 1.3542rem);
        --step-0: clamp(1.125rem, 1rem + 0.5882vw, 1.625rem);
        --step-1: clamp(1.2004rem, 1.013rem + 0.8819vw, 1.95rem);
        --step-2: clamp(1.8808rem, 1.016rem + 1.2461vw, 2.34rem);
        --step-3: clamp(2rem, 1.0063rem + 1.6957vw, 2.6rem);
        --step-4: clamp(2.1rem, 0.9803rem + 2.2487vw, 3.3696rem);
        --step-5: clamp(2.2rem, 0.934rem + 2.9266vw, 4.0435rem);
      }

      body {
        font-size: 1rem;
        width: 100%;
        padding: 0;
        margin: 0;
        outline: none;
        font-family:
          ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }

      p,
      a,
      li,
      input,
      textarea,
      legend,
      label {
        font-family:
          ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
      }
      p {
        font-size: clamp(1.125rem, 0.9794rem + 0.3527vw, 1.3rem);
      }
      a {
        font-size: clamp(1.125rem, 0.9794rem + 0.3527vw, 1.15rem);
      }
      li {
        font-size: clamp(1.125rem, 0.1794rem + 0.3527vw, 1.14rem);
      }

      button {
        width: fit-content;
        height: fit-content;
        padding: 14px 24px;
        border-radius: 7px;
        border: none;
        font-weight: 500;
        cursor: pointer;
        font-size: 1.125rem;
        font-family:
          ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }
    </style>
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
